@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

:root {
  --primary-color: #343a40;
  --secondary-color: #f4f4f4;
  --dark-color: #343a40;
  --light-green: rgb(198, 255, 221);
  --light-yellow: rgb(251, 215, 134);
  --light-red: rgb(247, 121, 125);
  --danger-color: #dc3545;
  --success-color: #28a745;
  --test-color: #f7797d;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: var(--primary-color);
}

ion-icon {
  font-size: 2.5rem;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}
